*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#141E30,#243B55);

font-family:Arial;

color:white;

overflow:hidden;

}

.container{

text-align:center;

}

h1{

font-size:80px;

margin-bottom:20px;

animation:float 2s infinite;

}

h2{

font-size:40px;

margin-bottom:20px;

}

p{

font-size:20px;

margin-bottom:30px;

}

button{

padding:15px 40px;

font-size:20px;

border:none;

border-radius:50px;

cursor:pointer;

background:#ff4d6d;

color:white;

transition:.3s;

}

button:hover{

transform:scale(1.1);

background:#ff1744;

}

@keyframes float{

50%{

transform:translateY(-15px);

}

}
